:root {
}

.reservation {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #32bde0;
    box-sizing: border-box;
    padding: 5px;
    z-index: 100;
    width: 200px;
    height: 100px;
    grid-column: 1;
}

.reservation p {
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin-right: 10px;
}

.reservation_row {
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}