app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    color: #32BCE0;
}

panel {
    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
}

    .date_section {
        height: 40px;
        width: 220px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .add_reservation_section {
        height: 280px;
        width: 220px;
        border: solid 1px #32BCE0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        box-sizing: border-box;
        padding: 10px;
    }

        .add_reservation-row {
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .add_reservation-row:nth-of-type(7) {
            width: 165px;
        }

        .clickable:hover{
            cursor: pointer;
            user-select: none;
        }

        .add_reservation-row input {
            height: 18px;
            width: 150px;
            font-weight: 600;
            border: none;
            outline: none;
        }

    .income_section {
        width: 260px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }

        .income_row {
            height: 30px;
            width: 220px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .income_row_line {
            position: relative;
        }
        .income_row_line::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #32BCE0;
            width: 100%;
            align-self: flex-end;
        }

        .income_row_part {
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
        }
        .income_row_part:nth-of-type(1) {
            justify-content: left;
            width: 60px;
        }
        .income_row_part:nth-of-type(2) {
            justify-content: right;
            width: 110px;
        }
        .income_row_part:nth-of-type(3) {
            justify-content: left;
            width: 40px;

        }
        .income_quantity {
            color: white;
        }

main {
    height: 100vh;
    overflow-y: auto;
    flex: 1;
    background-color: #161616;
    position: relative;
}
.table_hour {
    width: 100%;
    height: 12vh;
    margin-top: 0.5vh;
    align-self: flex-end;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100px repeat(8, auto);
    grid-template-rows: repeat(4, 3.125vh);
    column-gap: 0.5vh;
    position: relative;
}
.table_hour::after {
    content: "";
    background-color: #A3A3A3;
    width: 100%;
    height: 1px;
    position: absolute;
}