app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

p {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    color: #32BCE0;
}

.clickable{
    cursor: pointer;
    user-select: none;
}

.cantselect {
    user-select: none;
}

panel {
    min-height: 100vh;
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
}
panel p {
    font-size: 1.2vw;
}
panel svg {
    height: 1vw; 
}

.calendar {
    font-size: 1.2vw;
    font-weight: 700;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: transparent;
    border: none;
    color: #32BCE0;
    width: 63%;
}

.calendar:focus {
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(100%) brightness(150%);
  }

    .date_section {
        height: 5%;
        width: 13.5vw;
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .add_reservation_section {
        height: 35%;
        width: 13vw;
        margin-top: 10%;
        border: solid 1px #32BCE0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 10px;
    }

        .add_reservation-row {
            width: 11vw;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        .add_reservation-row:nth-of-type(1) {
            width: 60%;
            justify-content: center;
            gap: 1.5vw;
        }

        .icon_choose {
            height: 1.2vw;
        }

        .add_reservation-row:nth-of-type(7) {
            width: 90%;

        }

        .add_reservation-row input {
            height: 40%;
            width: 75%;
            font-weight: 600;
            border: none;
            outline: none;
        }

    .income_section {
        height: 45%;
        width: 85%;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .income_row {
            height: 10%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .income_row_line {
            position: relative;
        }
        .income_row_line::after {
            content: "";
            position: absolute;
            border-bottom: 1px solid #32BCE0;
            width: 100%;
            align-self: flex-end;
        }

        .income_row_part {
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
        }
        .income_row_part:nth-of-type(1) {
            justify-content: left;
            width: 10%;
            user-select: none;
        }
        .income_row_part:nth-of-type(2) {
            justify-content: right;
            width: 78%;
        }
        .income_row_part:nth-of-type(3) {
            justify-content: left;
            width: 10%;
            user-select: none;

        }
        .income_quantity {
            color: white;
        }

main {
    min-height: 100vh;
    height: 100vh;
    width: auto;
    overflow-y: auto;
    scrollbar-width: none;
    flex: 1;
    box-sizing: border-box;
    padding: 5px;
    background: url("./background.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 5% repeat(8, 1fr);
    grid-auto-rows: 30px;
    row-gap: 3px;
    column-gap: 5px;
}
main::before {
  content: "";
  position: fixed;  
  pointer-events: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(60px);
  background: rgba(0,0,0,0.4);
}

.table_hour {
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    position: relative;   
    user-select: none;
}

.table_hour::after {
    content: "";
    background-color: #ffffff31;
    width: 1930%;
    height: 1px;
    top: 0;
    position: absolute;
}