:root {
    --heightx1: 3vh;
    --widthx1: calc((100%) / 16 - 0.20vh);
}

.reservation {
    display: flex;
}

.people1 {
    height: calc(var(--heightx1) * 4);
    width: calc(var(--widthx1) * 3);
    background-color: red;
    position: absolute;
    grid-column: 2;
    grid-row: 1;
}

.time100 {

}