:root {
}

.reservation {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 15px;
    background-color: #32BCE0;
    box-sizing: border-box;
    padding: 5px;
    grid-column: 2/4;
    grid-row: 9/13;
    z-index: 100;
}

.reservation p {
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin-right: 10px;
}

.reservation_row {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}